<link href="https://fonts.googleapis.com/css2?family=Jersey+25&family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div class="contact-wrapper">
  <div class="contact-card">
    <div class="contact-content">
      <div class="info-section contact-body">
        <h1 class="contact-body">Contact Us</h1>
        <p>We’d love to hear from you! Feel free to reach out using the information below.</p>
        <ul class="list-unstyled">
          <li><strong>Email:</strong> contact@lewagon.org</li>
          <li><strong>Phone:</strong> +1 (438) 834-0533</li>
          <li><strong>Address:</strong> 5333 Casgrain Ave Suite 102, Montreal, Quebec H2T 1X3</li>
        </ul>
      </div>

      <div class="map-section">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4687.791739135282!2d-73.5951639!3d45.52607820000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9197db2f58265%3A0xc5f13f41b727f14!2s5333%20Av.%20Casgrain%20%23102%2C%20Montr%C3%A9al%2C%20QC%20H2T%201C1!5e1!3m2!1sen!2sca!4v1745975103660!5m2!1sen!2sca"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>
    </div>

    <div class="social-row">
      <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter fa-shake"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-facebook fa-shake"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-instagram fa-shake"></i></a>
    </div>
  </div>
</div>
