<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">

<h1>HOME PAGE</h1>
<p>Find me in app/views/pages/home.html.erb</p>
