.navbar-lewagon {
  justify-content: space-between;
  background: rgb(5, 25, 54);
  font-family: 'Jersey 25', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.color-input {
  color:rgb(249, 249, 249);
}
